<h1>{{ i18n "hello" }}</h1>
<h2>{{ i18n "contacts" }}</h2>
<ul>
    <li>E-mail:
        <a href="mailto:pdostal@pdostal.cz">pdostal@pdostal.cz</a>,
        <a href="mailto:p.dostal@sh.cvut.cz">p.dostal@sh.cvut.cz</a>,
        <a href="mailto:pdostal@suse.cz">pdostal@suse.cz</a>
    </li>
    <li>Tel:
        +420 773 646 660,
        +420 245 009 808,
        +44 870 397 6885,
        +420 245 009 806 (FAX)
    </li>
    <li>{{ i18n "databox" }}:
        qdmrg3k ({{ i18n "personal" }}),
        sksykax ({{ i18n "business" }}),
        {{ i18n "ico" }}: 03498603
    </li>
</ul>
<h2>{{ i18n "post" }}</h2>
<span>
    Kadov 41<br />
    592 03 Kadov, Czechia
</span>
<h2>{{ i18n "finance" }}</h2>
<ul>
    <li>Bank: 1082604012 / 3030</li>
    <li>IBAN: CZ10 3030 0000 0010 8260 4012 ( AIRACZPP )</li>
    <li>BitCoin: 1MzNKm2r8LeWy3gGmsEP1cqdWDhs24Ubbk</li>
</ul>
<h2>{{ i18n "work_and_projects" }}</h2>
<ul>
    <li>
        QA Maintenance Engineer {{ i18n "in" }} <a href="https://suse.com/">SUSE</a>
    </li>
    <li>
        Administrator {{ i18n "in" }} <a href="https://siliconhill.cz/">Silicon Hill</a><br />
        <a href="https://ftp.sh.cvut.cz/">ftp.sh.cvut.cz</a>,
        <a href="https://git.sh.cvut.cz/">git.sh.cvut.cz</a>,
        shell.sh.cvut.cz
    </li>
</ul>
<h2>{{ i18n "links" }}</h2>
<ul>
    <li>{{ i18n "social_networks" }}:
        <a href="https://github.com/pdostal/">GitHub</a>,
        <a href="https://keybase.io/pdostal/">KeyBase</a>,
        <a href="https://chaos.social/@pdostal">Mastodon</a>,
        <a href="https://www.instagram.com/pdostal_cz/">Instagram</a>,
        <a href="https://twitter.com/pdostal_cz">CZ Twitter</a>,
        <a href="https://twitter.com/pdostal_en">EN Twitter,</a>,
        <a href="https://www.linkedin.com/in/pdostalcz">LinkedIn</a>,
        <a href="http://facebook.com/pdostal1/">Facebook</a>,
        <a href="https://www.youtube.com/channel/UCCzbz-IsVwSYkMbED97r8mQ">Youtube</a>,
        <a href="https://untappd.com/user/pdostal">Untappd</a>,
        <a href="https://foursquare.com/pdostal_cz">Foursquare</a>,
        <a href="https://www.reddit.com/user/pdostal">Reddit</a>
    </li>
</ul>
<h2>{{ i18n "public_keys" }}</h2>
<ul>
    <li>
        <a href="">GPG</a>,
        <a href="">RSA</a>
    </li>
</ul>
